* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  padding: 32px 0;
}

header .container {
  width: 100%;
  margin: auto;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .logo-tip {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

header .logo-tip h1 {
  font-weight: 600;
  color: #3a404e;
  margin-left: 10px;
}

header .logo {
  width: 140px;
}

/* Nav bar */

header .content .nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
}

header .content .nav-bar ul a {
  text-decoration: none;
  font-weight: 500;
  color: #667085;
}

header .nav-bar li {
  color: #667085;
  font-weight: 600;
  margin: 0 32px;
}

header .buttons a {
  text-decoration: none;
  color: #667085;
  font-weight: 600;
  margin-right: 10px;
}

/* Buttons */

.bttn {
  padding: 15px 20px;
  color: #fff;
  background-color: #8e2424;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* span head all container */

.head{
  color: #8E2424;
  font-weight: 600;
  padding: 4px 12px;
  border-radius: 15px;
  margin-bottom: 20px;
}

/* About */

.container-about {
  width: 100%;
}

.content-about {
  width: 100%;
  padding: 96px 0;
  text-align: center;
}

.content-about h1 {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  margin: 36px 0 24px;
}

.content-about p {
  color: #667085;
  font-weight: 500;
  width: 791px;
  margin: auto;
}

/* Metrics */

.container-about .metrics {
  width: 100%;
  padding: 0 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.container-about .metrics .box {
  width: 280px;
}

.container-about .metrics .box .number {
  color: #8e2424;
  font-weight: 600;
  font-size: 60px;
}

.container-about .metrics .box p:nth-child(2) {
  color: #101828;
  font-weight: 600;
  margin: 15px 0 10px 0;
}

.container-about .metrics .box p:nth-child(3) {
  color: #667085;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-size: 14px;
  word-break: keep-all;
}

/* Work and img */

.works {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding: 96px 0;
}

.works .container-search{
  width: 80%;
  text-align: center;
  margin-bottom: 96px;
}

.works .container-search .head{
  color: #8E2424;
  background-color:#8E24240D;
  font-weight: 600;
  padding: 4px 12px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.works .container-search p{
  margin: 20px 0;
}

.works .container-search .header p:nth-child(2){
  color: #000;
  font-size: 36px;
  font-weight: 600;
}

.works .container-search .header p:nth-child(3){
  color: #667085;
  font-size: 20px;
  font-weight: 400;
}

.works .container-search img{
  margin-top: 65px;
}

.works .jobs{
  width: 50%;
}

.works .jobs .group{
  margin-bottom: 36px;
}

.works .jobs .group .title{
  font-weight: 600;
}

.works .jobs .group .job{
  width: 100%;
  border: 1px solid #EAECF0;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.works .jobs .group .job p{
  margin-right: 24px;
  color: #667085;
  font-weight: 500;
}
.works .jobs .group .job p:nth-child(1){
  width: 100%;
  font-weight: 600;
  margin-bottom: 32px;
  color: #000;
}

.depoimentos{
  width: 100%;
  padding: 96px 112px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.depoimentos .container{
  width: 90%;
  text-align: center;
  padding: 64px;
  background-color: #C3191908;
  border-radius: 15px;
}

.depoimentos .container .header p{
  margin: 16px 0 36px 0;
  font-size: 36px;
  font-weight: 500;
}

.depoimentos .container .user-comment p{
  margin:5px 0;
  color: #667085;
}

.depoimentos .container .user-comment p:nth-child(2){
  color: #000;
  font-weight: 600;
}

footer{
  width: 100%;
  background-color: #F9FAFB;
}

footer .container{
  width: 50%;
  padding: 96px 0;
  margin: auto;
  text-align: center;
}

footer .container span{
  font-size: 36px;
  font-weight: 500;
}

footer .container p{
  color: #667085;
  font-size: 20px;
  font-weight: 400;
  margin: 20px;
}

footer form{
  margin: 20px;
}

footer form input{
  margin-right: 16px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  padding: 12px;
}

footer .copy{
  color: #667085;
  font-size: 16px;
  font-weight: 400;
  margin: 12px;
}